body {
	margin: 0;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#wrapper {
    background: #417690;
}
#header {
    background: #417690;
    width: 100%;
    color: #ffc;
    overflow: hidden;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f4f379;
}
#branding a:link, #branding a:visited {
    color: #5b80b2;
    text-decoration: none;
}
#header_title h1, #header_title h1 a:link, #header_title h1 a:visited {
    color: #f4f379;
}
#header_title a:link, #header_title a:visited {
    color: #5b80b2;
    text-decoration: none;
}
#site-name {
  float: left;
}

#github_username, #gitlab_username, #bitbucket_username {
  float: right;
}

#container {
	width: 100%;
	background: #f1f2ea;
	float: right;
	margin-right: -200px;
}
.info {
	background: yellow;
	margin-right: 200px;
}
.success {
	background: green;
	margin-right: 200px;
}
.warning {
	background: orange;
	margin-right: 200px;
}
.error {
	background: red;
	margin-right: 200px;
}
#content {
	background: #f1f2ea;
	margin-right: 300px;
}
#sidebar a {
  text-decoration: none;
}
#sidebar {
	width: 200px;
	float: left;
}
#legend {
	border: 2px solid yellow;
	width: 190px;
	float: left;
}
#legend ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.step_result_section {
  border: 2px solid #ccc;
}

#footer {
    background: #417690;
}
h1 {
	margin-top: 0;
}
.last {
	margin-bottom: 0;
}
.clearing {
	height: 0;
	clear: both;
}

.indent {
  margin-left: 5em;
}
/*
table {
  table-layout: fixed;
  width: 100%;
}
*/
table, th, td {
	border: 1px solid #ccc;
	padding: 6px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
td {
  overflow: hidden;
  word-wrap: break-word;
}

.list_row2  {
	background-color:#ccc;
}
tbody tr:nth-of-type(even) {
	background-color:#ccc;
}

.job_result_output {
  background: black;
  color: white;
  font-family: monospace;
  max-height: 50em;
  overflow-y: scroll;
}

.job_status_Running {
    background-color: #FFFFCC;
}

.boxed_job_status_Running {
  vertical-align: middle;
  text-align: center;
  width: 60px;
  background-color: #FFFFCC;
  box-shadow: 2px 2px 3px #888;
  display: inline-block;
}

.job_status_Not_Started {
    background-color: white;
}

.boxed_job_status_Not_Started {
  vertical-align: middle;
  text-align: center;
  width: 60px;
  background-color: white;
  box-shadow: 2px 2px 3px #888;
  display: inline-block;
}

.job_status_Failed{
    background-color: #FF9999;
}
.boxed_job_status_Failed{
  background-color: #FF9999;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 2px 2px 3px #888;
  display: inline-block;
}
.job_status_Failed_OK{
    background-color: #FFB482;
}
.boxed_job_status_Failed_OK{
  background-color: #FFB482;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 2px 2px 3px #888;
  display: inline-block;
}
.job_status_Canceled{
  background-color: gray;
}
.boxed_job_status_Canceled{
  background-color: gray;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 2px 2px 3px #888;
  display: inline-block;
}

.job_status_Passed{
    background-color: #99FFCC;
}

.boxed_job_status_Passed{
  background-color: #99FFCC;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 2px 2px 3px #888;
  display: inline-block;
}

#repo_list a {
  text-decoration: none;
}
#repo_list li {
  font-size: 1.1em;
}

#event_table  {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 .1em;
}

#event_table a {
  text-decoration: none;
}
#event_table td {
  width: 6em;
}
#event_table td:first-child {
  width: 20em;
}

.step_result_name {
  width: 15em;
}
