.job_result_output {
  background: black;
  color: white;
  font-family: monospace;
  max-height: 50em;
  overflow-y: scroll;
}

.job_status_Running {
  background-color: #FFFFCC;
  vertical-align: middle;
  text-align: center;
}
.result_Running {
  background-color: #FFFFCC;
  vertical-align: middle;
  text-align: center;
}

.boxed_job_status_Running {
  vertical-align: middle;
  text-align: center;
  width: 60px;
  background-color: #FFFFCC;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.job_status_Not_Started {
  background-color: white;
  vertical-align: middle;
  text-align: center;
}

.result_Not_Started {
  background-color: white;
  vertical-align: middle;
  text-align: center;
}

.boxed_job_status_Not_Started {
  vertical-align: middle;
  text-align: center;
  width: 60px;
  background-color: white;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.job_status_Failed {
  background-color: #FF9999;
  vertical-align: middle;
  text-align: center;
}

.result_Failed {
  background-color: #FF9999;
  vertical-align: middle;
}

.boxed_job_status_Failed {
  background-color: #FF9999;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.job_status_Failed_OK {
  background-color: #FFB482;
  vertical-align: middle;
  text-align: center;
}

.result_Failed_OK {
  background-color: #FFB482;
  vertical-align: middle;
}

.boxed_job_status_Failed_OK {
  background-color: #FFB482;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.job_status_Canceled {
  background-color: #CCCCCC;
  vertical-align: middle;
  text-align: center;
}

.result_Canceled {
  background-color: #CCCCCC;
  vertical-align: middle;
}

.boxed_job_status_Canceled {
  background-color: #CCCCCC;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.job_status_Passed {
  background-color: #99FFCC;
  vertical-align: middle;
  text-align: center;
}

.result_Passed {
  background-color: #99FFCC !important;
  vertical-align: middle;
}

.boxed_job_status_Passed {
  background-color: #99FFCC;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.job_status_Activation_Required {
  text-align: center;
  vertical-align: middle;
  background-color: #BEBCE8;
}

.boxed_job_status_Activation_Required {
  background-color: #BEBCE8;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
}

.depends {
  vertical-align: middle;
  text-align: center;
}

.repo_name {
  display: inline-block;
  font-size: 1.2em;
  width: 100px;
}

#repo_list a {
  text-decoration: none;
}

#repo_list li {
  margin: 1px 2px 1px 0px;
}

.pr_list li {
  margin: 1px 2px 1px 0px;
  font-size: 1.1em;
  list-style-type: none;
}
.pr_list li:nth-child(odd)
{
  background-color:#DDDDDD;
}

.pr_description {
  font-size: 1.0em;
}
.client_NotActive {
  background-color: #FFB482;
}

.client_NotSeen {
  background-color: #FF9999;
}

.client_Running {
  background-color: #FFFFCC;
}

.client_Looking {
  background-color: #99FFCC;
}

/*
#event_table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 .1em;
}

#event_table a {
  text-decoration: none;
}
#event_table td {
  width: 6em;
}
#event_table td:first-child {
  width: 20em;
}

.step_result_name {
  width: 15em;
}

input[id*="-step_environment-"] {
  width: 300px;
}
input[id*="id_environment_vars-"] {
  width: 300px;
}
input[id="id_name"] {
  width: 200px;
}
input[id="id_display_name"] {
  width: 200px;
}


h2 span {
  font-size: .8em;
}
*/

.num_bytes {
  width: 5em;
}

.row {
  display: flex;
}

div.row {
  border: 1px solid #CCCCCC;
}
.row > div {
  padding: 1px;
}
.results_group > div {
  padding: 1px !important;
  margin: 1px !important;
}

div.row + div.row {
  border-top: 0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

#event_table td {
  border-color: black;
  font-size: 12px;
}
.list-group-item {
  border-color: black;
}
#repo_status li {
  font-size: 12px;
}

.navbar-static-top {
  margin-bottom: 10px;
}

/*
.overlay {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  left: 0;
}
*/

pre.job_result_output {
  background: black;
  color: white;
  line-height: 98%;
  /*
  font-family: Consolas, Lucida Console, monospace;
  font-size: 10px;
  max-height: 50em;
  overflow-y: scroll;
  */
}

.result_table {
  table-layout: fixed;
}

.collapsing {
  -webkit-transition: height .01s ease;
       -o-transition: height .01s ease;
          transition: height .01s ease;
}
/*
This enables dropdown menus activated by hover
.dropdown:hover .dropdown-menu {
  display: block;
}
*/

.clickable {
  cursor: pointer;
}

.center {
  text-align: center;
}
