{% load staticfiles %}
{% load settings_export %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}Civet{% endblock %}</title>
	<!-- <meta http-equiv="refresh" content="2">  -->
	<meta name="keywords" content="{% block keywords %}Civet{% endblock %}"/>
	<link rel="stylesheet" href="{% static 'ci/css/base.css' %}" type="text/css" media="screen" charset="utf-8" />
{% block head_scripts %}
<script type="text/javascript" src="{% static "ci/js/jquery.js" %}"></script>
{% endblock head_scripts %}
</head>

<body>
<div id="header">
	<div id="branding">
		{% block branding %}
      <div><h1 id="site-name"><a href="{% url 'ci:main' %}">Civet</a></h1></div>
        {% if request.session.github_user %}
          <div id="github_username">Signed into GitHub as : {{request.session.github_user}}</div><br>
        {% endif %}
        {% if request.session.gitlab_user %}
          <div id="gitlab_username">Signed into GitLab as : {{request.session.gitlab_user}}</div><br>
        {% endif %}
        {% if request.session.bitbucket_user %}
          <div id="bitbucket_username">Signed into BitBucket as : {{request.session.bitbucket_user}}</div><br>
        {% endif %}
		{% endblock %}
	</div>
	<div class="center" id="header_title"><h1>{% block header_title %}{% endblock %}</h1></div>
</div>

<div id="wrapper">
  <div id="container">
		<div id="messages">
			{% block messages %}
				{% if messages %}
					<ul class="messagelist">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endblock messages %}
		</div>
		<div id="content">
            {% block content %}{% endblock %}
            <div class="last">&nbsp;</div>
		</div>
	</div>
	<div id="sidebar">{% block sidebar %}
		<ul>
      <li><a href="{% url 'ci:main' %}">Home</a></li>
      {% settings_value "INSTALLED_GITSERVERS" as servers %}
      {% settings_value "GITSERVER_GITHUB" as GITHUB %}
      {% settings_value "GITSERVER_GITLAB" as GITLAB %}
      {% settings_value "GITSERVER_BITBUCKET" as BITBUCKET %}
      {% for server in servers %}
        {% if server == GITHUB %}
          {% if request.session.github_user %}
            <li><a href="{% url 'ci:view_profile' GITHUB %}">GitHub Profile</a></li>
            <li><a href="{% url 'ci:github:sign_out' %}?next={{request.path}}">GitHub Sign out</a></li>
          {% else %}
            <li><a href="{% url 'ci:github:sign_in' %}?next={{request.path}}">GitHub Sign in</a></li>
          {% endif %}
        {% endif %}
        {% if server == GITLAB %}
          {% if request.session.gitlab_user %}
            <li><a href="{% url 'ci:view_profile' GITLAB %}">GitLab Profile</a></li>
            <li><a href="{% url 'ci:gitlab:sign_out' %}?next={{request.path}}">GitLab Sign out</a></li>
          {% else %}
            <li><a href="{% url 'ci:gitlab:sign_in' %}?next={{request.path}}">GitLab Sign in</a></li>
          {% endif %}
        {% endif %}
        {% if server == BITBUCKET %}
          {% if request.session.bitbucket_user %}
            <li><a href="{% url 'ci:view_profile' BITBUCKET %}">BitBucket Profile</a></li>
            <li><a href="{% url 'ci:bitbucket:sign_out' %}?next={{request.path}}">BitBucket Sign out</a></li>
          {% else %}
          <li><a href="{% url 'ci:bitbucket:sign_in' %}?next={{request.path}}">BitBucket Sign in</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <li><a href="{% url 'ci:branch_list' %}">Branches</a></li>
      <li><a href="{% url 'ci:event_list' %}">Events</a></li>
      <li><a href="{% url 'ci:pullrequest_list' %}">Pull Requests</a></li>
      <li><a href="{% url 'ci:client_list' %}">Job Clients</a></li>
	</ul>
	  {% endblock %}
	<div id="legend">
		{% block legend %}
		<h3>Legend</h3>
		<ul>
		<li class="job_status_Not_Started">Not started</li>
		<li class="job_status_Running">Running</li>
		<li class="job_status_Failed">Failed</li>
		<li class="job_status_Failed_OK">Failed but allowed</li>
		<li class="job_status_Canceled">Canceled</li>
		<li class="job_status_Passed">Passed</li>
		</ul>
	  {% endblock %}
	</div>
	</div>
	<div class="clearing">&nbsp;</div>
</div>
<div id="footer">{% block footer %}&nbsp;{% endblock %}</div>
{% block end_scripts %}
{% endblock %}
</body>
</html>

