{% extends "ci/base.html" %}
{% block title %}Civet: {{branch}}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li>
    {{branch.repository.user}}
  </li>
  <li>
    <a href="{% url "ci:view_repo" branch.repository.pk %}">{{branch.repository.name}}</a>
    <a href="{{branch.repository.git_html_url}}"><i class="{{branch.server.icon_class}}"></i></a>
  </li>
  <li>
    <a href="{{branch.git_html_url}}">{{branch.name}} <i class="{{branch.server.icon_class}}"></i></a>
  </li>
</ol>
<div class="row result_{{branch.status_slug}}">
  <div class="col-sm-1">Current Status:</div>
  <div class="col-sm-1">{{branch.status_slug}}</div>
</div>
<br/>
<div class="center">
  <h4>
    Events
  </h4>
</div>
{% include "ci/event_table.html" with events=events %}
<div class="center">
  {% include "ci/page_handler.html" with objs=pages %}
</div>
{% endblock %}
