{% extends "ci/base.html" %}
{% load humanize %}
{% block title %}Civet: Clients{% endblock %}
{% block content %}
<div class="center">
  <h2>Job clients</h2>
</div>

{% if not allowed %}
  You are not allowed to view the job clients.
  <br/>Please sign in and try again.
{% elif clients %}
  <table class="table table-hover table-bordered table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Status</th>
      <th>Last Message</th>
      <th>Last Seen</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
      <tr>
        <td><a href="{% url "ci:view_client" client.pk %}">{{client.name}}</a></td>
        <td>{{client.ip}}</td>
        <td class="client_{% if client.status_slug != 'NotActive' and client.unseen_seconds > 60 %}NotSeen{% else %}{{client.status_slug}}{% endif %}">{{client.status_str}}</td>
        <td>{{client.status_message}}</td>
        <td>{{client.last_seen |naturaltime}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
No Clients
{% endif %}
{% endblock %}
