{% extends "ci/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Civet: {{event}}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  {% if event.pull_request %}
    <li><a href="{% url "ci:view_pr" event.pull_request.pk %}">Pull request</a></li>
  {% endif %}
  <li>Event</li>
</ol>
<center>
  <h3>
    {% if event.pull_request %}
      <a href="{{event.pull_request.url}}">
        {{event.pull_request}} <i class="{{event.pull_request.repository.user.server.icon_class}}"></i>
      </a>
    {% else %}
      {{event}}
    {% endif %}
  </h3>
</center>
<div class="row result_{{event.status_slug}}" id="event_status">
  <div class="col-sm-1">Complete</div>
  <div class="col-sm-5">
    <span id="event_complete" class="glyphicon {% if event.complete %}glyphicon-ok{% else %}glyphicon-remove{%endif%}"></span>
  </div>
</div>
<div class="row">
  <div class="col-sm-1">Base</div>
  <div class="col-sm-5"><a href="{{event.base.url}}">{{event.base}} <i class="{{event.base.server.icon_class}}"></i></a></div>
</div>
<div class="row">
  <div class="col-sm-1">Head</div>
  <div class="col-sm-5"><a href="{{event.head.url}}">{{event.head}} <i class="{{event.head.server.icon_class}}"></i></a></div>
</div>
<div class="row">
  <div class="col-sm-1">Last modified</div>
  <div class="col-sm-5" id="event_last_modified">{{event.last_modified |naturaltime}}</div>
</div>
<div class="row">
  <div class="col-sm-1">Created</div>
  <div class="col-sm-5" id="event_created">{{event.created|naturaltime}}</div>
</div>
{% if allowed_to_cancel and not event.complete %}
  <div class="row">
    <div class="col-sm-8">
      <form action={% url "ci:cancel_event" event.pk %} method="post" id="cancel_form">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Cancel all jobs</button>
      </form>
    </div>
  </div>
{% endif %}
{% if allowed_to_cancel %}
  <div class="row">
    <div class="col-sm-8">
      <form action={% url "ci:invalidate_event" event.pk %} method="post" role="form" id="invalidate_form">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Invalidate all jobs</button>
        <label><input type="checkbox" name="same_client"> Run on same clients</label>
      </form>
    </div>
  </div>
{% endif %}

<center><h3>Jobs</h3></center>
{% include "ci/event_table.html" with events=events events_url=1 %}
{% endblock %}

{% block end_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "ci/js/update.js" %}"></script>
<script>
function updateEvent()
{
  $.ajax({
    url: "{% url "ci:ajax:event_update" event.pk %}",
    datatype: 'json',
    success: function(contents) {
      updateEventPage(contents);
    },
    error: function(xhr, textStatus, errorThrown) {
      // alert('Problem with server, no more auto updates');
      //clearInterval(window.status_interval_id);
    }
  });
}


window.status_interval_id = 0;
$(document).ready(function() {
  if( window.status_interval_id == 0 ){
    window.status_interval_id = setInterval(updateEvent, {{update_interval}});
  }
});
</script>
{% endblock end_scripts %}
