{% load humanize %}
{% if jobs %}
<table id="job_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Config</th>
      <th>Trigger</th>
      <th>Repo</th>
      <th>User</th>
      <th>Runtime</th>
      <th>Last modified</th>
      <th>Client</th>
    </tr>
  </thead>
  <tbody id="job_body">
  {% for job in jobs %}
    <tr id="job_{{job.pk}}" data-date="{{job.last_modified|date:'YmdHis'}}">
      <td>{{job.recipe.name}}</td>
      <td id="job_status_{{job.pk}}" class="job_status_{{job.status_slug}}"><a href="{% url "ci:view_job" job.pk %}">{{job.config.name}}</a></td>
      <td>
        {% if job.event.pull_request %}
          <a href="{% url "ci:view_pr" job.event.pull_request.pk %}">{{ job.event.pull_request }}</a>
        {% else %}
          <a href="{% url "ci:view_event" job.event.pk %}">{{job.event.cause_str}}</a>
        {% endif %}
      </td>
      <td>{{job.event.base.repo}}</td>
      <td>{{job.event.head.user }}</td>
      <td id="job_time_{{job.pk}}">{{job.seconds}}</td>
      <td id="job_last_{{job.pk}}">{{job.last_modified |date:"H:i:s m/d/y"}}</td>
      <td id="job_client_{{job.pk}}">{% if job.client %}<a href="{% url "ci:view_client" job.client.pk %}">{{job.client.name}}</a>{%endif%}</td>
    </tr>
  {% empty %}
  <tr><td>No jobs</tr></td>
  {% endfor %}
  </tbody>
</table>
{% else %}
No jobs
{% endif %}

<script>
function updateJobs( job_data )
{
  var jobs = job_data.jobs;
  if( jobs.length == 0 ){
    return;
  }
  /* just update the fields first */
  for( var i=0, len=jobs.length; i < len; i++){
    var tr = $('#job_' + jobs[i].id);
    if( tr.length ){
      $('#job_status_' + jobs[i].id).removeClass().addClass('job_status_' + jobs[i].status);
      $('#job_time_' + jobs[i].id).text(jobs[i].runtime);
      $('#job_last_' + jobs[i].id).text(jobs[i].last_modified);
      $('#job_' + jobs[i].id).attr("data-date", jobs[i].last_modified_date);

      if( jobs[i].client_name.length ){
        $('#job_client_' + jobs[i].id).html('<a href="' + jobs[i].client_url + '">' + jobs[i].client_name + '</a>');
      }else{
        $('#job_client_' + jobs[i].id).text('');
      }
    }else{
      /* create the row and insert it */
      var tr_text = '<tr id="job_"' + jobs[i].id + '" data-date="' + jobs[i].last_modified_date + '">';
      tr_text += '<td>' + jobs[i].recipe_name + '</td>';
      tr_text += '<td id="job_status_' + jobs[i].id + '" class="job_status_' + jobs[i].status + '"><a href="' + jobs[i].job_url + '">' + jobs[i].config + '</a></td>';
      tr_text += '<td><a href="' + jobs[i].trigger_url + '">' + jobs[i].trigger + '</a></td>';
      tr_text += '<td>' + jobs[i].repo + '</td>';
      tr_text += '<td>' + jobs[i].user + '</td>';
      tr_text += '<td id="job_time_' + jobs[i].id + '">' + jobs[i].runtime + '</td>';
      tr_text += '<td id="job_last_' + jobs[i].id + '">' + jobs[i].last_modified + '</td>';
      tr_text += '<td id="job_client_' + jobs[i].id + '">';
      if( jobs[i].client_name.length ){
        tr_text += '<a href="' + jobs[i].client_url + '">' + jobs[i].client_name + '</a></td>';
      }else{
        tr_text += '</td>';
      }
      tr_text += '</tr>';
      $('#job_body').append(tr_text);
    }
  }
  /* now sort by last modified */
  $('#job_body tr').sort(function(a, b) {
    return $(a).attr('data-date') < $(b).attr('data-date');
  }).appendTo('#job_body');
}
</script>
