{% load humanize %}
{% if jobs %}
  <table class="table table-hover table-bordered table-condensed">
    <thead>
      <tr>
        <th>Repo</th>
        <th>Name</th>
        <th>Trigger</th>
        <th>User</th>
        <th>Config</th>
        <th>Runtime</th>
        <th>Last modified</th>
      </tr>
    </thead>
    <tbody class="job_body">
      {% for job in jobs %}
        <tr id="job_{{job.pk}}">
          <td>{{job.event.base.repo}}</td>
          <td>{{job.recipe.display_name}}</td>
          <td>
            {% if job.event.pull_request %}
              <a href="{% url "ci:view_pr" job.event.pull_request.pk %}">{{ job.event.pull_request }}</a>
            {% else %}
              <a href="{% url "ci:view_event" job.event.pk %}">{{job.event.cause_str}}</a>
            {% endif %}
          </td>
          <td>{{job.event.head.user }}</td>
          <td id="job_status_{{job.pk}}" class="job_status_{{job.status_slug}}"><a href="{% url "ci:view_job" job.pk %}">{{job.config.name}}</a></td>
          <td id="job_time_{{job.pk}}">{{job.seconds}}</td>
          <td id="job_last_{{job.pk}}">{{job.last_modified |naturaltime}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="center">
    {% include "ci/page_handler.html" with objs=jobs %}
  </div>
{% endif %}
