{% extends "ci/base.html" %}
{% load staticfiles %}
{% block title %}Civet: Job info search{% endblock %}
{% block content %}

<form action="{% url "ci:job_info_search" %}" method="get">
  {{form.as_table}}
  <input type="submit" value="Get Jobs"/>
</form>

Jobs:<br />
{% include "ci/job_table.html" with jobs=jobs %}

{% endblock %}
{% block end_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "ci/js/update.js" %}"></script>
<script>
</script>
{% endblock end_scripts %}
