{% extends "ci/base.html" %}
{% load staticfiles %}
{% block title %}Civet: Job info search{% endblock %}
{% block content %}

<div class="center">
  <h3>Filter jobs</h3>
</div>
<form action="{% url "ci:job_info_search" %}" method="get">
  <ul class="list-group">
    {% for field in form %}
      <li class="list-group-item">
        {{ field.label_tag }} {{ field }} {{ field.errors }}
      </li>
    {% endfor %}
  </ul>
  <input type="submit" value="Get Jobs"/>
</form>

<div class="center">
  <h4>Jobs</h4>
</div>
<br />
{% include "ci/job_table.html" with jobs=jobs %}

{% endblock %}
