{% extends "ci/base.html" %}
{% load staticfiles %}
{% block title %}Civet Home{% endblock %}
{% block content %}
{% if repos %}
  <h3>Current status</h3>
  <ul id="repo_list">
    {% for repo in repos %}
      <li id="repo_{{repo.id}}"><span class="repo_name"><a href="{{repo.url}}">{{repo.name}}</a></span>
          {% if repo.branches %}
              {% for branch in repo.branches %}
                <span id="branch_{{branch.id}}" class="boxed_job_status_{{branch.status}}"><a href="{{branch.url}}">{{ branch.name }}</a></span>
              {%endfor%}
          {% endif %}
        <ul id="repo_status_{{repo.id}}" class="pr_list">
          {% for pr in repo.prs %}
            {% if forloop.counter|divisibleby:"2" %}
              <li id="pr_{{pr.id}}" class="padded list_row2">
            {% else %}
              <li id="pr_{{pr.id}}" class="padded list_row1">
            {% endif %}
            <span id='pr_status_{{pr.id}}' class="boxed_job_status_{{pr.status}}">
              <a href="{{pr.url}}">#{{ pr.number }}</a>
            </span><span class="pr_description"> {{pr.title}} by {{ pr.user }}</span>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h3>Latest {{event_limit}} events</h3>
{% include "ci/event_table.html" with events=recent_events.all %}

{% endblock %}

{% block end_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "ci/js/update.js" %}"></script>
<script type="text/javascript">

var last_request = 0;

function updateMain()
{
  $.ajax({
    url: "{% url "ci:ajax:main_update" %}",
    datatype: 'json',
    data: { 'last_request': last_request, 'limit': {{event_limit}} },
    success: function(contents) {
      updateMainPage(contents, {{event_limit}});
      last_request = contents.last_request;
    },
    error: function(xhr, textStatus, errorThrown) {
      // alert('Problem with server, no more auto updates');
      //clearInterval(window.status_interval_id);
    }
  });
}


window.status_interval_id = 0;
$(document).ready(function() {
  if( window.status_interval_id == 0 ){
    window.status_interval_id = setInterval(updateMain, 20000);
  }
});
</script>
{% endblock end_scripts %}
