{% extends "ci/base.html" %}
{% load staticfiles %}
{% block content %}
{% if repos %}
  <h3>Current status</h3>
  <ul id="repo_list">
    {% for repo in repos %}
      <li id="repo_{{repo.id}}"><a href="{{repo.url}}">{{repo.name}}</a></li>
      <ul id="repo_status_{{repo.id}}">
        {% if repo.branches %}
          <li id="branches_{{repo.id}}">
            {% for branch in repo.branches %}
              <span id="branch_{{branch.id}}" class="job_status_{{branch.status}}"><a href="{{branch.url}}">{{ branch.name }}</a></span>
            {%endfor%}
          </li>
        {% endif %}
        {% for pr in repo.prs %}
          {% if forloop.counter|divisibleby:"2" %}
            <li id="pr_{{pr.id}}" class="list_row1">
          {% else %}
            <li id="pr_{{pr.id}}" class="list_row2">
          {% endif %}
          <span id='pr_status_{{pr.id}}' class="job_status_{{pr.status}}">
            <a href="{{pr.url}}">#{{ pr.number }}</a>
          </span><span> {{pr.title}} by {{ pr.user }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endif %}

<h3>Latest {{event_limit}} events</h3>
{% include "ci/event_table.html" with events=recent_events.all %}

{% endblock %}

{% block end_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "ci/js/update.js" %}"></script>
<script>

window.status_interval_id = 0;
$(document).ready(function() {
  if( window.status_interval_id == 0 ){
    window.status_interval_id = setInterval(function() { updateMain( "{% url "ci:ajax:events_update" %}", "{% url "ci:ajax:status_update" %}", {{event_limit}});}, 5000);
  }
});
</script>
{% endblock end_scripts %}
