{% extends "ci/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>Recipe</h1>
<form action="." method="post">
  {% csrf_token %}
  <input type="hidden" name="creator" value="{{creator.pk}}">
  <input type="hidden" name="repository" value="{{repo.pk}}">
  {% if form.non_field_errors %}
  <ul class="error">
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <table class="recipe_table">
    <tbody>
    <tr>
      <td>{{ form.name.label_tag }}</td><td>{{ form.name }}</td>
      {% if form.name.errors %}
        <td class="error">{{ form.name.errors }}</td>
      {% endif %}
    </tr>
  </tbody>
  </table>
  <fieldset>
    <table>
    <tbody>
    <tr>
      <td>{{form.abort_on_failure.label_tag}}</td><td>{{ form.abort_on_failure }}</td>
      <td>{{form.private.label_tag}}</td><td>{{ form.private }}</td>
      <td>{{form.active.label_tag}}</td><td>{{ form.active }}</td>
    </tr>
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Trigger</legend>
    <table>
    <tbody>
    <tr>
      <td>{{ form.cause.label_tag }}</td><td>{{ form.cause }}</td>
      <td>{{ form.branch.label_tag }}</td><td>{{ form.branch }}</td>
      {% if form.cause.errors %}
        <td class="error">{{ form.cause.errors }}</td>
      {% endif %}
    </tr>
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Automatic execution</legend>
    <table>
    <tbody>
    <tr>
      <td>{{ form.automatic.label_tag }}</td><td>{{ form.automatic}}</td>
      <td>{{ form.auto_authorized.label_tag }}</td><td>{{ form.auto_authorized }}</td>
    </tr>
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <table>
    <tbody>
    <tr>
      <td>{{ form.build_configs.label_tag }}</td><td>{{ form.build_configs }}</td>
      {% if form.build_configs.errors %}
        <td class="error">{{ form.build_configs.errors }}</td>
      {% endif %}
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Dependencies</legend>
    {{ depends.management_form }}
    {% for depend in depends %}
      <div id="{{ depends.prefix }}">
        {{ depend.id }}
        {{ depend.recipe }}
        {{ depend.DELETE }}
        <table>
        <tbody>
          <tr>
            <td>{{ depend.dependency.label_tag }}</td><td>{{ depend.dependency }}</td>
            {% if depend.dependency.errors %}
              <td class="error">{{ depend.dependency.errors }}</td>
            {% endif %}
            <td>{{ depend.abort_on_failure.label_tag }}</td><td>{{ depend.abort_on_failure }}</td>
            <td class="{{depend.prefix}}_delete_button"></td>
          </tr>
        </tbody>
        </table>
      </div>
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Pre-step environments source</legend>
    {{ prestep_forms.management_form }}
    {% for prestep in prestep_forms %}
      <div id="{{ prestep_forms.prefix }}">
        {{ prestep.id }}
        {{ prestep.recipe }}
        {{ prestep.DELETE }}
        <table>
          <tbody>
          <tr>
            <td>{{ prestep.filename.label_tag }}</td>{{ prestep.filename }}
            <td class="{{prestep.prefix}}_delete_button"></td>
          </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Recipe Environment Variables</legend>
    {{ env_forms.management_form }}
    {% for env_form in env_forms %}
      <div id="{{ env_forms.prefix }}">
        {{ env_form.id }}
        {{ env_form.recipe }}
        {{ env_form.DELETE }}
        <table>
          <tbody>
          <tr>
            <td>{{ env_form.name.label_tag }}</td><td>{{ env_form.name }}</td>
            <td>{{ env_form.value.label_tag }}</td><td>{{ env_form.value }}</td>
            <td class="{{env_form.prefix}}_delete_button"></td>
          </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  </fieldset>
  <h2>Steps</h2>
  {{ steps.id }}
  {{ steps.recipe }}
  {{ steps.management_form }}
  {% for step in steps %}
    <div id="{{steps.prefix}}">
      {{ step.id }}
      {{ step.recipe }}
      {{ step.DELETE }}
    <fieldset>
      <table>
        <tbody>
        <tr>
          <td>{{ step.name.label_tag }}</td><td>{{ step.name }}</td>
          {% if step.name.errors %}
            <td class="error">{{ step.name.errors }}</td>
          {% endif %}
          <td class="{{step.prefix}}_delete_button"></td>
        </tr>
        </tbody>
      </table>
      <fieldset>
        <legend>Step environment variables</legend>
        {{ step.nested.management_form }}
      {% for nested in step.nested %}
        <div id="{{ step.nested.prefix }}">
          {{ nested.id }}
          {{ nested.step }}
          {{ nested.DELETE }}
          <table>
            <tbody>
            <tr>
              <td>{{ nested.name.label_tag }}</td><td>{{ nested.name }}</td>
              <td>{{ nested.value.label_tag }}</td><td>{{ nested.value }}</td>
              <td class="{{nested.prefix}}_delete_button"></td>
            </tr>
            </tbody>
          </table>
        </div>
      {% endfor %}
<script type="text/javascript">
  $('div#{{ step.nested.prefix }}').formset({
      prefix: '{{ step.nested.prefix }}',
      formCssClass: 'dynamic-formset2',
      addText: 'Add step environment variable',
      deleteText: 'Remove env variable',
});
</script>
      </fieldset>
      <table>
        <tbody>
        <tr>
          <td>{{ step.filename.label_tag }}</td><td>{{ step.filename }}</td>
          {% if step.filename.errors %}
            <td class="error">{{ step.filename.errors }}</td>
          {% endif %}
        </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
    <br>
    <br>
  <input type="submit" value="Save" />
</form>
{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script src="{% static "ci/js/jquery.formset.js" %}"></script>
<script type="text/javascript">
  function changeContents(select) {
    var obj = $("#"+select['id']);
    var text_id = select['id'].slice(0,-1) + '1';
    var text_obj = $("#"+text_id);
    $.ajax({
    url: "{% url "ci:ajax:get_file" %}" + "?filename=" + obj.val(),
    datatype: 'json',
    success: function(contents) {
      text_obj.val(contents.contents);
      }
    });
  };
  $(function() {
    $('div#{{ env_forms.prefix }}').formset({
        prefix: '{{ env_forms.prefix }}',
        formCssClass: 'dynamic-formset0',
        addText: 'Add recipe environment variable',
        deleteText: 'Remove env variable',
    });
    $('div#{{ prestep_forms.prefix }}').formset({
        prefix: '{{ prestep_forms.prefix }}',
        formCssClass: 'dynamic-formset3',
        addText: 'Add prestep environment',
        deleteText: 'Remove prestep',
    });
    $('div#{{ depends.prefix }}').formset({
        prefix: '{{ depends.prefix }}',
        formCssClass: 'dynamic-formset4',
        addText: 'Add dependency',
        deleteText: 'Remove dependency',
    });
    $('div#{{ steps.prefix }}').formset({
        prefix: '{{ steps.prefix }}',
        formCssClass: 'dynamic-formset1',
        addText: 'Add step',
        deleteText: 'Remove step',
        added: function(row) {
          for ( c=0; c < 20; c++){
            $('div#steps-'+c+'-step_environment').formset({
                prefix: 'steps-'+c+'-step_environment',
                formCssClass: 'dynamic-formset2',
                addText: 'Add step environment variable',
                deleteText: 'Remove start variable',
            });
          }
        }
      });
    /*
    {% for step in steps %}
        $('div#{{ step.nested.prefix }}').formset({
            prefix: '{{ step.nested.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'Add env variable',
            deleteText: 'Remove env variable',
        });
    {% endfor %}
    */

  });
</script>
{% endblock %}
{% block end_scripts %}
{{ block.super }}

<style type="text/css">
  .add-row {
    padding-left:18px;
    background:url({% static "ci/images/add.png" %}) no-repeat left center;
  }
  .delete-row {
    float:right;
    display:block;
    margin-left:4px;
    padding-left:18px;
    background:url({% static "ci/images/delete.png" %}) no-repeat left center;
                                                                }
  .dynamic-event-form th {
    text-align:right;
    font-weight:bold;
  }
  .dynamic-event-form td span img {
    vertical-align:middle;
    border:0;
  }
</style>

<script type="text/javascript">
$(document).ready(function() {
  $("#id_cause").change(function() {
    $("#id_branch").prop('disabled', $(this).val() == "0");
  });
  $("#id_automatic").change(function() {
    $("#id_auto_authorized").prop('disabled', $(this).val() != "1");
  });
  $("#id_automatic").change()
  $("#id_cause").change()
  $(".filename_select").change()
});
</script>

{% endblock end_scripts %}
