{% extends "ci/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Civet: {{pr.title}}{% endblock %}
{% block content %}
<h2>Pull Request <a href="{{pr.url}}">#{{pr.number}}</a></h2>
<h3><a href="{{pr.url}}">{{pr.title}}</a></h3>
<br/>
<table class="pr_info">
  <tbody>
  <tr><td>Repository</td><td><a href="{% url "ci:view_repo" pr.repository.pk %}">{{pr.repository}}</a></td></tr>
  <tr><td>Status</td><td id="pr_status" class="job_status_{{pr.status_slug}}">{% if pr.closed %}Closed{%else%}Open{%endif%}</td></tr>
  <tr><td>Last modified</td><td id="pr_last_modified">{{pr.last_modified |naturaltime}}</td></tr>
  <tr><td>Created</td><td id="pr_created">{{pr.created|naturaltime}}</td></tr>
  </tbody>
</table>
<h2>Events</h2>
{% include "ci/event_table.html" with events_url=1 %}

<h3>Additional Recipes to run</h3>
{% if not allowed %}
  You need to be signed in and be a collaborator to add additional recipes.
{% elif form %}
  <form id="alt_pr" action="{% url "ci:view_pr" pr.pk %}" method="post">
    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" value="Submit">
  </form>
{% else %}
  There are no additional recipes available
{% endif %}
{% endblock %}

{% block end_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "ci/js/update.js" %}"></script>
<script>
function updatePR()
{
  $.ajax({
    url: "{% url "ci:ajax:pr_update" pr.pk %}",
    datatype: 'json',
    success: function(contents) {
      updatePRPage(contents);
    },
    error: function(xhr, textStatus, errorThrown) {
      // alert('Problem with server, no more auto updates');
      //clearInterval(window.status_interval_id);
    }
  });
}


window.status_interval_id = 0;
$(document).ready(function() {
  if( window.status_interval_id == 0 ){
    window.status_interval_id = setInterval(updatePR, 20000);
  }
});
</script>
{% endblock end_scripts %}
