{% extends "ci/base.html" %}
{% load staticfiles %}
{% block title %}Civet: Recipe{% endblock %}
{% block content %}
<h1>Recipe on {{repo}}</h1>
<form action="." method="post">
  {% csrf_token %}
  <input type="hidden" name="creator" value="{{creator.pk}}"/>
  <input type="hidden" name="repository" value="{{repo.pk}}"/>
  {% if form.non_field_errors %}
    <ul class="error">
      {% for error in form.non_field_errors %}
        <li>{{ error|safe}}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <table class="recipe_table">
    <tbody>
      <tr>
        <td>{{ form.name.label_tag }}</td><td>{{ form.name }}</td>
        {% if form.name.errors %}
          <td class="error">{{ form.name.errors }}</td>
        {% endif %}
        <td>{{ form.display_name.label_tag }}</td><td>{{ form.display_name }}</td>
        {% if form.display_name.errors %}
          <td class="error">{{ form.display_name.errors }}</td>
        {% endif %}
        <td>{{ form.priority.label_tag }}</td><td>{{ form.priority}}</td>
      </tr>
    </tbody>
  </table>
  <fieldset>
    <table>
      <tbody>
        <tr>
          <td>{{form.abort_on_failure.label_tag}}</td><td>{{ form.abort_on_failure }}</td>
          <td>{{form.private.label_tag}}</td><td>{{ form.private }}</td>
          <td>{{form.active.label_tag}}</td><td>{{ form.active }}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Trigger</legend>
    <table>
      <tbody>
        <tr>
          <td>{{ form.cause.label_tag }}</td><td>{{ form.cause }}</td>
          <td>{{ form.branch.label_tag }}</td><td>{{ form.branch }}</td>
          {% if form.branch.errors %}
            <td class="error">{{ form.branch.errors }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Automatic execution</legend>
    <table>
      <tbody>
        <tr>
          <td>{{ form.automatic.label_tag }}</td><td>{{ form.automatic}}</td>
          <td>{{ form.auto_authorized.label_tag }}</td><td>{{ form.auto_authorized }}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <table>
      <tbody>
        <tr>
          <td>{{ form.build_configs.label_tag }}</td><td>{{ form.build_configs }}</td>
          {% if form.build_configs.errors %}
            <td class="error">{{ form.build_configs.errors }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Dependencies <img alt="add" id="dependency-add" src="{% static "ci/images/add.png" %}"/></legend>
    {% include "ci/dependency_form.html" with depend=empty_depend id="depend_empty_form" hidden=1 %}
    <div id="{{depend_forms.prefix}}">
      {{ depend_forms.management_form }}
      {% for depend in depend_forms %}
        {% include "ci/dependency_form.html" with depend=depend id=depend.prefix hidden=0 %}
      {% endfor %}
    </div>
  </fieldset>
  <fieldset>
    <legend>Recipe Environment Variables <img alt="add" id="recipe_env-add" src="{% static "ci/images/add.png" %}"/></legend>
    {% include "ci/recipe_env_form.html" with env_form=env_forms.empty_form id="env_empty_form" hidden=1 %}
    <div id="{{env_forms.prefix}}">
      {{ env_forms.management_form }}
      {% for env_form in env_forms %}
        {% include "ci/recipe_env_form.html" with env_form=env_form id=env_form.prefix hidden=0 %}
      {% endfor %}
    </div>
  </fieldset>
  <fieldset>
    <legend>Global environment source <img alt="add" id="prestep-add" src="{% static "ci/images/add.png" %}"/></legend>
    {% include "ci/prestep_form.html" with prestep=prestep_forms.empty_form id="prestep_empty_form" hidden=1 %}
    <div id="{{prestep_forms.prefix}}">
      {{ prestep_forms.management_form }}
      <div id="prestep_tabs">
        <ul id="prestep_list">
          {% for prestep in prestep_forms %}
            <li data-prestep="{{prestep.prefix}}"><a href="#{{prestep.prefix}}">{{prestep.filename.value}}</a><span id="{{prestep.prefix}}-delete" class="ui-icon ui-icon-close" role="presentation">Remove</span></li>
          {% endfor %}
        </ul>
        <div id="prestep_divs">
          {% for prestep in prestep_forms %}
            {% include "ci/prestep_form.html" with prestep=prestep id=prestep.prefix hidden=0 %}
          {% endfor %}
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    {% if step_forms.errors %}
      <ul class="error">
        {% for error in step_forms.errors %}
          <li>{{ error|safe}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <legend>Steps <img alt="add" id="step-add" src="{% static "ci/images/add.png" %}"/></legend>
    {% include "ci/step_form.html" with step=step_forms.empty_form id="step_empty_form" hidden=1 %}
    <div id="{{step_forms.prefix}}">
      {{ step_forms.management_form }}
      <div id="step_tabs">
        <ul id="step_list">
          {% for step in step_forms %}
            <li data-step="{{step.prefix}}"><a href="#{{step.prefix}}">{{step.name.value}}</a><span id="{{step.prefix}}-delete" class="ui-icon ui-icon-close" role="presentation">Remove</span></li>
          {% endfor %}
        </ul>
        <div id="step_divs">
          {% for step in step_forms %}
            {% include "ci/step_form.html" with step=step id=step.prefix hidden=0 %}
          {% endfor %}
        </div>
      </div>
    </div>
  </fieldset>
  <input type="submit" value="Save" />
</form>
{% endblock %}

{% block head_scripts %}
{{ block.super }}
<link rel="stylesheet" href="{% static "ci/css/jquery-ui.css" %}"/>
<script type="text/javascript" src="{% static "ci/js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "ci/js/jquery.formset.js" %}"></script>
<style type="text/css">
</style>
<script type="text/javascript">
  $(document).ready(function()
  {
    var step_tabs = $("#step_tabs").tabs();
    step_tabs.delegate("span.ui-icon-close", "click", function()
    {
      var step_li = $(this).closest("li");
      var panelId = step_li.remove().attr("aria-controls");
      var delete_step = $("#id_" + step_li.attr("data-step") + "-DELETE");
      delete_step.attr("checked", true);
      step_li.remove();
      step_tabs.tabs("refresh");
    });
    step_tabs.find(".ui-tabs-nav").sortable(
    {
      axis: "x",
      stop: function(event, ui)
      {
        console.log("step_tabs stop");
        $("#step_tabs li").each(function(i, el)
        {
          var position_id = '#id_' + $(el).attr("data-step") + "-position";
          console.log("setting " + position_id + " to " + $(el).index());
          $(position_id).val($(el).index());
        });
        step_tabs.tabs("refresh");
      },
    });

    var prestep_tabs = $("#prestep_tabs").tabs();
    prestep_tabs.delegate("span.ui-icon-close", "click", function()
    {
      var prestep_li = $(this).closest("li");
      var panelId = prestep_li.remove().attr("aria-controls");
      var delete_prestep = $("#id_" + prestep_li.attr("data-prestep") + "-DELETE");
      delete_prestep.attr("checked", true);
      prestep_li.remove();
      prestep_tabs.tabs("refresh");
    });

    {% for step in step_forms %}
      var name_id = $("#id_{{step.prefix}}-name");
      name_id.on("change, keyup",function()
        {
          var panelId = step_tabs.find(".ui-tabs-active");
          var name = $(this).val();
          panelId.find("a").text(name);
        });
      $("div#{{ step.nested.prefix }}").formset(
      {
        prefix: "{{ step.nested.prefix }}",
        addButtonId: "#{{step.nested.prefix}}-add",
        formTemplate: "#{{step.nested.prefix}}_empty_form",
        addLocationId: "#{{step.nested.prefix}}",
      });
      {% for env in step.envs %}
        $("#{{step.nested.prefix}}-add").click();
        var env_prefix = "#id_{{step.nested.prefix}}-{{forloop.counter0}}";
        console.log('env_prefix = ' + env_prefix);
        $(env_prefix + "-name").val("{{env.name}}");
        $(env_prefix + "-value").val("{{env.value}}");
      {% endfor %}

    {% endfor %}

    $("div#{{ env_forms.prefix }}").formset({
      prefix: "{{ env_forms.prefix }}",
      addButtonId: "#recipe_env-add",
      formTemplate: "#env_empty_form",
      addLocationId: "#{{env_forms.prefix}}",
    });

    {% for prestep in prestep_forms %}
      var name_id = $("#id_{{prestep.prefix}}-filename_1");
      name_id.on("change", function()
        {
          var panelId = prestep_tabs.find(".ui-tabs-active");
          var name = $(this).val();
          panelId.find("a").text(name);
        });
    {% endfor %}

    $("div#{{ prestep_forms.prefix }}").formset({
      prefix: "{{ prestep_forms.prefix }}",
      addButtonId: "#prestep-add",
      formTemplate: "#prestep_empty_form",
      addLocationId: "#prestep_divs",
      preAddCallback: function(row, prefix, count) {
        var prestep_prefix = prefix + '-' + count;
        var li = '<li data-prestep="' + prestep_prefix + '"><a href="#' + prestep_prefix + '">New File</a><span id="' + prestep_prefix + '-delete" class="ui-icon ui-icon-close" role="presentation">Remove</span></li>';
        prestep_tabs.find(".ui-tabs-nav").append(li);
      },
      postAddCallback: function(row, prefix, count) {
        var prestep_prefix = prefix + '-' + count;
        var name_id = $("#id_" + prestep_prefix + "-filename_1");
        console.log('PreStep: name = ' + name_id.attr("id"));
        name_id.on("change",function()
          {
            var panelId = prestep_tabs.find(".ui-tabs-active");
            var name = $(this).val();
            panelId.find("a").text(name);
          });

        prestep_tabs.tabs("refresh");
        $("a[href=#" + prestep_prefix + "]").click();
        console.log('PreStep: New prefix = ' + prestep_prefix);
      }
    });

    $("div#{{ depend_forms.prefix }}").formset(
    {
      prefix: "{{ depend_forms.prefix }}",
      addButtonId: "#dependency-add",
      formTemplate: "#depend_empty_form",
      addLocationId: "#{{depend_forms.prefix}}",
    });
    $("div#{{ step_forms.prefix }}").formset({
      prefix: "{{ step_forms.prefix }}",
      formTemplate: '#step_empty_form',
      addButtonId: "#step-add",
      addLocationId: "#step_divs",
      preAddCallback: function(row, prefix, count) {
        var step_prefix = prefix + '-' + count;
        var li = '<li data-step="' + step_prefix + '"><a href="#' + step_prefix + '">New Step</a><span id="' + step_prefix + '-delete" class="ui-icon ui-icon-close" role="presentation">Remove</span></li>';
        step_tabs.find(".ui-tabs-nav").append(li);
      },
      postAddCallback: function(row, prefix, count) {
        var step_prefix = prefix + '-' + count;
        var name_id = $("#id_" + step_prefix + "-name");
        name_id.val("New Step");
        name_id.on("change, keyup",function()
          {
            var panelId = step_tabs.find(".ui-tabs-active");
            var name = $(this).val();
            panelId.find("a").text(name);
          });

        var pos_id = $("#id_" + step_prefix + "-position");
        pos_id.val(count);
        var new_prefix = step_prefix + '-step_environment';
        step_tabs.tabs("refresh");
        $("a[href=#" + step_prefix + "]").click();

        $('#'+new_prefix).formset(
        {
          prefix: new_prefix,
          addButtonId: "#" + new_prefix + "-add",
          formTemplate: "#" + new_prefix + "_empty_form",
          addLocationId: "#" + new_prefix,
        });
        console.log('Step: New prefix = ' + new_prefix + ' : ' + step_prefix);
      }
    });
    $("#id_cause").change(function()
    {
      $("#id_branch").prop('disabled', $(this).val() == "0");
    });
    $("#id_automatic").change(function()
    {
      $("#id_auto_authorized").prop('disabled', $(this).val() != "1");
    });
    $("#id_automatic").change();
    $("#id_cause").change();
    $(".filename_select").change();
  });
  /*
     This is the function that will be called by the filename widget when
     the selection changes. The actual setup is in ci/recipes/forms.py
  */
  function changeContents(select, user)
  {
    var obj = $("#"+select['id']);
    var input_id = select['id'].slice(0,-1) + '0';
    var text_id = select['id'].slice(0,-1) + '2';
    var text_obj = $("#"+text_id);
    var input_obj = $("#"+input_id);
//    text_obj.prop("readonly", obj.val() != "");
    input_obj.val(obj.val());

    if ( obj.val() != "" && user != "")
    {
      $.ajax({
        url: "{% url "ci:ajax:get_file" %}" + "?user=" + user + "&filename=" + obj.val(),
        datatype: 'json',
        success: function(contents) {
          text_obj.val(contents.contents);
          text_obj.attr("readonly", obj.val().indexOf('common/') == 0);
        },
        error: function(xhr, textStatus, errorThrown) {
          //alert(textStatus);
        }
      });
    }
  }

</script>

{% endblock head_scripts %}
