{% extends "ci/base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li>{{ recipe.repository.user.name }}</li>
  <li>{{ recipe.repository.name }}</li>
  <li>{{ recipe.cause_str }}</li>
</ol>

<div class="center">
  <h3>{{ recipe.display_name }}</h3>
</div>
Average successful runtime : {{ average_time }}
<div class="center">
  <h3>Events</h3>
</div>
{% include "ci/event_table.html" with events=events%}
<div class="center">
  {% include "ci/page_handler.html" with objs=pages %}
</div>
{% endblock %}
