{% extends "ci/base.html" %}
{% load staticfiles %}
{% block content %}
<h1>Recipe on {{repo}}</h1>
<form action="." method="post">
  {% csrf_token %}
  <input type="hidden" name="creator" value="{{creator.pk}}">
  <input type="hidden" name="repository" value="{{repo.pk}}">
  {% if form.non_field_errors %}
  <ul class="error">
    {% for error in form.non_field_errors %}
      <li>{{ error|safe}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <table class="recipe_table">
    <tbody>
    <tr>
      <td>{{ form.name.label_tag }}</td><td>{{ form.name }}</td>
      {% if form.name.errors %}
        <td class="error">{{ form.name.errors }}</td>
      {% endif %}
    </tr>
  </tbody>
  </table>
  <fieldset>
    <table>
    <tbody>
    <tr>
      <td>{{form.abort_on_failure.label_tag}}</td><td>{{ form.abort_on_failure }}</td>
      <td>{{form.private.label_tag}}</td><td>{{ form.private }}</td>
      <td>{{form.active.label_tag}}</td><td>{{ form.active }}</td>
    </tr>
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Trigger</legend>
    <table>
    <tbody>
    <tr>
      <td>{{ form.cause.label_tag }}</td><td>{{ form.cause }}</td>
      <td>{{ form.branch.label_tag }}</td><td>{{ form.branch }}</td>
      {% if form.branch.errors %}
        <td class="error">{{ form.branch.errors }}</td>
      {% endif %}
    </tr>
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Automatic execution</legend>
    <table>
    <tbody>
    <tr>
      <td>{{ form.automatic.label_tag }}</td><td>{{ form.automatic}}</td>
      <td>{{ form.auto_authorized.label_tag }}</td><td>{{ form.auto_authorized }}</td>
    </tr>
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <table>
    <tbody>
    <tr>
      <td>{{ form.build_configs.label_tag }}</td><td>{{ form.build_configs }}</td>
      {% if form.build_configs.errors %}
        <td class="error">{{ form.build_configs.errors }}</td>
      {% endif %}
    </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Dependencies</legend>
    {{ depend_forms.management_form }}
    {% for depend in depend_forms %}
      <div id="{{ depend_forms.prefix }}">
      <ul class="error">
        {% for error in depend.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
        {{ depend.id }}
        {{ depend.recipe }}
        {{ depend.DELETE }}
        <table>
        <tbody>
          <tr>
            <td>{{ depend.dependency.label_tag }}</td><td>{{ depend.dependency }}</td>
            {% if depend.dependency.errors %}
              <td class="error">{{ depend.dependency.errors }}</td>
            {% endif %}
            <td>{{ depend.abort_on_failure.label_tag }}</td><td>{{ depend.abort_on_failure }}</td>
            <td><div class="{{depend.prefix}}-delete_button"></div></td>
          </tr>
        </tbody>
        </table>
      </div>
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Recipe Environment Variables</legend>
    {{ env_forms.management_form }}
    {% for env_form in env_forms %}
      <ul class="error">
        {% for error in env_form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      <div id="{{ env_forms.prefix }}">
        {{ env_form.id }}
        {{ env_form.recipe }}
        {{ env_form.DELETE }}
        <table>
          <tbody>
          <tr>
            <td>{{ env_form.name.label_tag }}</td><td>{{ env_form.name }}</td>
            <td>{{ env_form.value.label_tag }}</td><td>{{ env_form.value }}</td>
            <td><div class="{{env_form.prefix}}-delete_button"></div></td>
          </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Pre-step environments source</legend>
    {{ prestep_forms.management_form }}
    {% for prestep in prestep_forms %}
      <ul class="error">
        {% for error in prestep.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      <div id="{{ prestep_forms.prefix }}">
        {{ prestep.id }}
        {{ prestep.recipe }}
        {{ prestep.DELETE }}
        <table>
          <tbody>
          <tr>
            <td>{{ prestep.filename.label_tag }}</td>{{ prestep.filename }}
            <td><div class="{{prestep_form.prefix}}-delete_button"></div></td>
          </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  </fieldset>
  <h2>Steps</h2>
  <div style="display: none;">
    <div id="empty_form">
      {% include "ci/step_form.html" with step=step_forms.empty_form prefix=step_forms.prefix %}
    </div>
  </div>
  {{ step_forms.management_form }}
  {% for step in step_forms %}
    {% include "ci/step_form.html" with step=step prefix=step_forms.prefix %}
  {% endfor %}
    <br>
    <br>
  <input type="submit" value="Save" />
</form>
{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script src="{% static "ci/js/jquery.formset.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    {% for step in step_forms %}
      $("div#{{ step.nested.prefix }}").formset({
          prefix: "{{ step.nested.prefix }}",
          formCssClass: "dynamic-formset4",
          addCssClass: "add-row4",
          deleteCssClass: "remove-row4",
          addText: "Add env",
          deleteText: "Remove env",
      });
      /*
      {% for nested in step.nested %}
        $("div#{{ nested.prefix }}").formset({
            prefix: "{{ nested.prefix }}",
            formCssClass: "dynamic-formset5",
            addText: "Add env",
            deleteText: "Remove env",
        });
      {% endfor %}
      */
    {% endfor %}

    $("div#{{ env_forms.prefix }}").formset({
        prefix: "{{ env_forms.prefix }}",
        formCssClass: "dynamic-formset0",
        addText: "Add environment variable",
        deleteText: "Remove environment variable",
        addCssClass: "add-row0",
        deleteCssClass: "remove-row0",
    });
    $("div#{{ prestep_forms.prefix }}").formset({
        prefix: "{{ prestep_forms.prefix }}",
        formCssClass: "dynamic-formset1",
        addText: "Add prestep environment",
        deleteText: "Remove prestep",
        addCssClass: "add-row1",
        deleteCssClass: "remove-row1",
    });
    $("div#{{ depend_forms.prefix }}").formset({
        prefix: "{{ depend_forms.prefix }}",
        formCssClass: "dynamic-formset2",
        addText: "Add dependency",
        deleteText: "Remove dependency",
        addCssClass: "add-row2",
        deleteCssClass: "remove-row2",
    });
    $("div#{{ step_forms.prefix }}").formset({
        prefix: "{{ step_forms.prefix }}",
        formCssClass: "dynamic-formset3",
        addText: "Add step",
        deleteText: "Remove step",
        addCssClass: "add-row3",
        deleteCssClass: "remove-row3",
        formTemplate: '#empty_form',
        added: function(row, prefix, count) {
          var new_prefix = prefix + '-' + count + '-step_environment';
          console.log('new prefix = ' + new_prefix)
          $('div#'+new_prefix).formset({
                prefix: new_prefix,
                formCssClass: 'dynamic-formset4',
                addText: 'Add env',
                deleteText: 'Remove env',
                addCssClass: "add-row4",
                deleteCssClass: "remove-row4",
            });
          console.log('Added row ' + row.attr('id'))
        }
    });

  });
</script>
{% endblock %}

{% block end_scripts %}
{{ block.super }}

<style type="text/css">
  .add-row {
    padding-left:18px;
    background:url({% static "ci/images/add.png" %}) no-repeat left center;
  }
  .delete-row {
    float:right;
    display:block;
    margin-left:4px;
    padding-left:18px;
    background:url({% static "ci/images/delete.png" %}) no-repeat left center;
                                                                }
  .dynamic-event-form th {
    text-align:right;
    font-weight:bold;
  }
  .dynamic-event-form td span img {
    vertical-align:middle;
    border:0;
  }
</style>

<script type="text/javascript">
  /* 
     This is the function that will be called by the filename widget when
     the selection changes. The actual setup is in ci/recipes/forms.py
  */
  function changeContents(select, user) {
    var obj = $("#"+select['id']);
    var input_id = select['id'].slice(0,-1) + '0';
    var text_id = select['id'].slice(0,-1) + '2';
    var text_obj = $("#"+text_id);
    var input_obj = $("#"+input_id);
//    text_obj.prop("readonly", obj.val() != "");
    input_obj.val(obj.val());

    if ( obj.val() != "" && user != "") {
      $.ajax({
        url: "{% url "ci:ajax:get_file" %}" + "?user=" + user + "&filename=" + obj.val(),
        datatype: 'json',
        success: function(contents) {
          text_obj.val(contents.contents);
          text_obj.attr("readonly", obj.val().indexOf('common/') == 0);
        },
        error: function(xhr, textStatus, errorThrown) {
          //alert(textStatus);
        }
      });
    }
  };

$(document).ready(function() {
  $("#id_cause").change(function() {
    $("#id_branch").prop('disabled', $(this).val() == "0");
  });
  $("#id_automatic").change(function() {
    $("#id_auto_authorized").prop('disabled', $(this).val() != "1");
  });
  $("#id_automatic").change()
  $("#id_cause").change()
  $(".filename_select").change()
});
</script>

{% endblock end_scripts %}
