{% extends "ci/base.html" %}
{% block title %}Civet: {{repo}}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li>
    {{repo.user}}
  </li>
  <li>
    <a href="{{repo.git_html_url}}">{{repo.name}} <i class="{{repo.user.server.icon_class}}"></i></a>
  </li>
</ol>
<center>
  <h4>Current status</h4>
</center>
{% include "ci/repo_status.html" with repos=repos_status %}

<center><h4>Latest {{event_limit}} events</h4></center>
{% include "ci/event_table.html" with events=events_info %}
{% endblock %}
