{% load staticfiles %}
<div id="{{id}}" {% if hidden %} style="display: none" {% endif %}>
  {{ step.id }}
  {{ step.recipe }}
  {{ step.DELETE }}
  {{step.position}}
  {% if step.non_field_errors %}
    <ul class="error">
      {% for error in step.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <fieldset>
    <table>
      <tbody>
        <tr>
          <td>{{ step.name.label_tag }}</td><td>{{ step.name }}</td>
          {% if step.name.errors %}
            <td class="error">{{ step.name.errors }}</td>
          {% endif %}
          <td>{{step.abort_on_failure.label_tag}}</td><td>{{ step.abort_on_failure }}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Environment variables <img alt="add" id="{{step.nested.prefix}}-add" src="{% static "ci/images/add.png" %}"/></legend>
    <div id="{{step.nested.prefix}}">
      {{ step.nested.management_form }}
      {% include "ci/step_env_form.html" with step_env=step.nested.empty_form id=step.nested.prefix|add:"_empty_form" hidden=1 %}
      {% for nested in step.nested %}
        {% include "ci/step_env_form.html" with step_env=nested id=nested.prefix hidden=0 %}
      {% endfor %}
    </div>
    <table>
      <tbody>
        <tr>
          <td>{{ step.filename.label_tag }}</td>{{ step.filename }}
          {% if step.filename.errors %}
            <td class="error">{{ step.filename.errors }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
