<div id="{{prefix}}" >
  {{ step.id }}
  {{ step.recipe }}
  {{ step.DELETE }}
  <ul class="error">
    {% for error in step.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <fieldset>
    <table>
      <tbody>
      <tr>
        <td>{{ step.name.label_tag }}</td><td>{{ step.name }}</td>
        {% if step.name.errors %}
          <td class="error">{{ step.name.errors }}</td>
        {% endif %}
        <td>{{step.abort_on_failure.label_tag}}</td><td>{{ step.abort_on_failure }}</td>
        <td><div class="{{step.prefix}}-delete_button"></div></td>
      </tr>
      </tbody>
    </table>
    {{ step.nested.management_form }}
    <fieldset>
    <legend>Environment variables</legend>
      {% for nested in step.nested %}
        <div id="{{ step.nested.prefix }}">
          {{ nested.id }}
          {{ nested.step }}
          {{ nested.DELETE }}
          <table>
            <tbody>
            <tr>
              <td>{{ nested.name.label_tag }}</td><td>{{ nested.name }}</td>
              <td>{{ nested.value.label_tag }}</td><td>{{ nested.value }}</td>
              <td><div class="{{nested.prefix}}-delete_button"></div></td>
            </tr>
            </tbody>
          </table>
        </div>
      {% endfor %}
    </fieldset>
    <table>
      <tbody>
      <tr>
        <td>{{ step.filename.label_tag }}</td>{{ step.filename }}
        {% if step.filename.errors %}
          <td class="error">{{ step.filename.errors }}</td>
        {% endif %}
      </tr>
      </tbody>
    </table>
  </fieldset>
</div>
