[run]
omit = */__init__.py
  ci/templatetags/*
  client/daemon.py
  client/scripts/*
  ci/migrations/*
  ci/management/commands/*
  ci/recipe/recipe_to_bash.py
  civet/*
  manage.py
  */tests/*
  */test_*.py
  sitecustomize.py
concurrency = multiprocessing,thread

[report]
exclude_lines =
  if __name__ == '__main__':
  if __name__ == "__main__":
  except ImportError
