ansi2html==1.4.2
attrs==17.4.0
certifi==2018.4.16
chardet==3.0.4
coverage==4.5.1
DaemonLite==0.0.2
Django==1.8.19
django-cors-headers==2.3.0
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-graphos==0.3.41
django-sslserver==0.20
funcsigs==1.0.2
idna==2.7
mock==2.0.0
oauthlib==2.1.0
pbr==4.1.0
pluggy==0.6.0
py==1.5.2
py-w3c==0.3.1
pyflakes==2.0.0
pytest==3.3.2
requests==2.19.1
requests-oauthlib==1.0.0
selenium==3.13.0
six==1.11.0
sqlparse==0.2.4
typing==3.6.4
urllib3==1.23
