ansi2html==1.9.2
chardet==5.2.0
chromedriver_autoinstaller==0.6.4
coverage==7.11.3
croniter==6.0.0
DaemonLite==0.0.2
Django==5.2.8
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
django-extensions==4.1
django-sslserver==0.22
funcsigs==1.0.2
idna==3.11
mock==5.2.0
oauthlib==3.3.1
pbr==7.0.3
py-w3c==0.3.1
pyflakes==3.4.0
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
selenium==4.38.0
six==1.17.0
sqlparse==0.5.3
tblib==3.2.2
typing==3.7.4.3
urllib3==2.6.0
